/*variables*/

:root {
  --main-background: hsl(230, 100%, 99%);
  --pricing-component-background: hsl(0, 0%, 100%);
  --toggle-background: hsl(223, 50%, 87%);
  --discount-background: hsl(14, 92%, 95%);
  --slider-background: hsl(174, 86%, 45%);
  --slider-background-dark: hsl(174, 86%, 40%);
  --full-slider-bar-color: hsl(174, 77%, 80%);
  --empty-slider-bar-color: hsl(224, 65%, 95%);
  --heading-color-and-cta-background: hsl(227, 35%, 25%);
  --main-text-color: hsl(225, 20%, 60%);
  --cta-text-color: hsl(225, 86%, 95%);
  --discount-text-color: hsl(15, 100%, 70%);
  --main-font: 'Manrope', sans-serif;
}

/*end of variables*/
/*resets*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: var(--main-font);
}

/*end of resets*/
/*styles*/

main,
section,
.text-container,
.pricing-component-container,
.slider-container,
.benefits-container,
.benefits-container ul {
  display: flex;
  flex-direction: column;
}

main,
section,
.text-container {
  align-items: center;
  justify-content: center;
}

main,
section {
  min-width: 37.5rem;
  width: 100%;
  height: 100%;
}

main {
  background: var(--main-background);
}

section {
  padding-bottom: 8.8rem;
  background: url('../images/bg-pattern.svg'), var(--main-background);
  background-repeat: no-repeat;
  background-size: auto 40rem;
}

.text-container {
  min-width: 37.5rem;
  height: 23.4rem;
  background: url('../images/pattern-circles.svg') no-repeat;
  background-position: center;
}

.text-container h1 {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: var(--heading-color-and-cta-background);
}

.text-container p {
  padding: 0 10.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.3rem;
  text-align: center;
  color: var(--main-text-color);
}

.pricing-component-container {
  align-items: center;
  justify-content: flex-start;
  width: 32.7rem;
  height: 47.9rem;
  background: var(--pricing-component-background);
  border-radius: 1rem;
  box-shadow: 0 1rem 1.5rem -0.1rem rgba(0,0,0,0.05);
}

.slider-container {
  align-items: center;
  width: 32.7rem;
  height: 19.3rem;
  padding: 3.5rem 0 1.2rem;
}

.pageviews {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);
  letter-spacing: 0.2rem;
}

/*Code for the input type=range*/
input[type="range"] {
  -webkit-appearance: none;
  width: 27.8rem;
  margin-bottom: 3.5rem;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/*Track Styles*/
/*Chrome, Safari, Opera, and Edge Chromium*/
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.8rem;
  /*background: var(--empty-slider-bar-color);*/
  border-radius: 0.5rem;
}

/*Firefox*/
input[type="range"]::-moz-range-track {
  height: 0.8rem;
  background: var(--empty-slider-bar-color);
  border-radius: 0.5rem;
}

input[type="range"]::-moz-range-progress {
  height: 0.8rem;
  background: var(--full-slider-bar-color);
  border-radius: 0.5rem;
}

/*Thumb Styles*/
/*Chrome, Safari, Opera, and Edge Chromium*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  margin-top: -1.6rem;
  background: url('../images/icon-slider.svg'), var(--slider-background);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
  box-shadow: 0 2rem 2rem -0.1rem rgba(165,243,235,1);
}

/*Firefox*/
input[type="range"]::-moz-range-thumb {
  width: 4rem;
  height: 4rem;
  margin-top: -1.6rem;
  background: url('../images/icon-slider.svg'), var(--slider-background);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 2rem 2rem -0.1rem rgba(165,243,235,1);
}

/*Focus Styles*/
/*Removes default focus*/
input[type="range"]:focus {
  outline: none;
}

/*Chrome, Safari, Opera, and Edge Chromium*/
input[type="range"]:focus::-webkit-slider-thumb {
  background: url('../images/icon-slider.svg'), var(--slider-background-dark);
  background-repeat: no-repeat;
  background-position: center;
  outline: 0.1rem solid var(--slider-background-dark);
  outline-offset: 0.1rem;
}

/*Firefox*/
input[type="range"]:focus::-moz-range-thumb {
  background: url('../images/icon-slider.svg'), var(--slider-background-dark);
  background-repeat: no-repeat;
  background-position: center;
  outline: 0.1rem solid var(--slider-background-dark);
  outline-offset: 0.1rem;
}
/*End of code for the input type=range */

.time-period {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.price {
  font-size: 3.1rem;
  font-weight: 800;
  color: var(--heading-color-and-cta-background);
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 32.7rem;
  height: 8.4rem;
  padding: 2.4rem 0 0;
}

.toggle-container p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-text-color);
}

/*Code for the input type=checkbox, aka toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 4.2rem;
  height: 2.2rem;
  margin-inline: 1.3rem;
}

.toggle-button {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background: var(--toggle-background);
  transition: .4s ease;
  border-radius: 2rem;
}

.toggle-center:before {
  position: absolute;
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  left: 0.3rem;
  bottom: 0.4rem;
  background: var(--pricing-component-background);
  border-radius: 50%;
  transition: .4s ease;
}

.toggle-button:checked + .toggle-center {
  background: var(--slider-background);
}

.toggle-button:focus + .toggle-center,
.toggle-button:hover + .toggle-center {
  background: var(--full-slider-bar-color);
}

.toggle-button:checked + .toggle-center::before {
  transform: translateX(2.2rem);
}
/*End of code for the input type=checkbox, aka toggle switch*/

.discount {
  width: 4.1rem;
  height: 1.9rem;
  margin-left: 0.5rem;
  padding: 0.2rem 0.7rem;
  background: var(--discount-background);
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--discount-text-color);
}

.benefits-container {
  align-items: center;
  width: 32.7rem;
  height: 20.1rem;
  padding-top: 2.7rem;
  border-top: 0.1rem solid var(--empty-slider-bar-color);
}

.benefits-container ul {
  gap: 1.2rem;
  margin-bottom: 3rem;
  list-style: url('../images/icon-check.svg');
}

.benefits-container ul li {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-text-color);
  text-align: center;
}

.cta-button {
  width: 17rem;
  height: 4.1rem;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  background: var(--heading-color-and-cta-background);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--cta-text-color);
}

.cta-button:hover,
.cta-button:focus {
  color: var(--pricing-component-background);
  outline: 0.1rem solid var(--main-text-color);
  outline-offset: 0.1rem;
}

.attribution,
.attribution a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-text-color);
  text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
  font-weight: 800;
  color: var(--heading-color-and-cta-background);
}